<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Host Linea - Web Hosting, Responsive HTML5 Template</title>
<meta name="keywords" content="" />
<meta name="description" content="Host Linea HTML5 Template">
<meta name="author" content="">

<!-- Mobile view -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Favicon -->
<link rel="shortcut icon" href="images/favicon.ico">
<link rel="stylesheet" type="text/css" href="js/bootstrap/css/bootstrap.min.css">

<!-- Google fonts - witch you want to use - (rest you can just remove) -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>

<!-- Template's stylesheets -->
<link rel="stylesheet" href="js/template-custom/css/template-custom.css">
<link rel="stylesheet" href="css/theme-default.css" type="text/css">
<link rel="stylesheet" href="css/theme.css" type="text/css">
<link rel="stylesheet" href="js/mainmenu/menu.css" type="text/css" />
<link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" type="text/css" href="fonts/Simple-Line-Icons-Webfont/simple-line-icons.css" media="screen" />
<link rel="stylesheet" href="fonts/et-line-font/et-line-font.css">
<link rel="stylesheet" href="js/masterslider/style/masterslider.css"/>
<link href="js/masterslider/skins/default/style.css" rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="js/masterslider/style/style.css">
<link href="js/masterslider/staffcarousel/ms-staff-style.css" rel='stylesheet' type='text/css'>
<link href="js/owl-carousel/owl.carousel.css" rel="stylesheet">
<link href="js/owl-carousel/owl.theme.css" rel="stylesheet">
<link href="js/tabs/css/responsive-tabs.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="css/theme-responsive.css">

<!-- Template's stylesheets END -->

<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Style Customizer's stylesheets -->
<link rel="stylesheet/less" type="text/css" href="less/skin.less">

<!-- Style Customizer's stylesheets END -->

<!-- Skin stylesheet -->

<body class="loading">



<div class="preloader-wrap"></div>

<!-- Page template --> 

<!-- Preloader icon -->

<div class="wrapper-boxed">
  <div class="site-wrapper" style="position: relative;">
    <div class="topbar topbar-padding">
      <div class="container">
        <ul class="toplist text-blue-gray toppadding">
          <li>Customer Care</li>
          <li class="lineright ">(888) 123-4567</li>
          <li class="lineright"><a href="#">Login</a></li>
          <li class="lineright"><a href="#">Register</a></li>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li class="last"><a href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="clearfix"></div>
    
    <!--end topbar-->
    <div class="divider-line solid blue-gray"></div>
    <div class="col-md-12 nopadding">
      <div id="header">
	    <div class="container">
	      <div class="navbar brown-2 navbar-default yamm">
	        <div class="navbar-header">
	          <button type="button" data-toggle="collapse" data-target="#navbar-collapse-grid" class="navbar-toggle two three"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
	          <a href="index.html" class="navbar-brand"><img src="images/logo/logo.png" alt=""></a> </div>
	        <div id="navbar-collapse-grid" class="navbar-collapse collapse pull-right">
	          <ul class="nav navbar-nav">
	            <li> <a href="index.html" class="dropdown-toggle active">Home</a></li>
                
	            <li class="dropdown"> <a href="index.html" class="dropdown-toggle">Layouts</a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="http://codelayers.net/templates/hostlinea/creative/index.html">Creative</a> </li>
                <li><a href="http://codelayers.net/templates/hostlinea/creative-2/index.html">Creative 2</a> </li>
                <li><a href="http://codelayers.net/templates/hostlinea/classic/index.html">Classic</a> </li>
              </ul>
            </li>
	            <li> <a href="domain-search.html" class="dropdown-toggle">Domains</a></li>
                
                <li> <a href="web-hosting.html" class="dropdown-toggle">Hosting</a></li>
                
                <li class="dropdown yamm-fw"> <a href="about2.html" class="dropdown-toggle">Pages</a>
              <ul class="dropdown-menu">
                <li> 
                  <!-- Content container to add padding -->
                  <div class="yamm-content">
                    <div class="row">
                      <ul class="col-sm-6 col-md-3 list-unstyled ">
                        <li>
                          <p> Pages 1 </p>
                        </li>
                        <li><a href="about.html"><i class="fa fa-angle-right"></i> &nbsp; About Style 1</a></li>
                        <li><a href="about-2.html"><i class="fa fa-angle-right"></i> &nbsp; About Style 2</a></li>
                        <li><a href="about-3.html"><i class="fa fa-angle-right"></i> &nbsp; About Style 3</a></li>
                        <li><a href="website-builder.html"><i class="fa fa-angle-right"></i> &nbsp; Website Builder</a></li>
                        <li><a href="affiliates.html"><i class="fa fa-angle-right"></i> &nbsp; Affiliates</a></li>
                        <li><a href="left-nav.html"><i class="fa fa-angle-right"></i> &nbsp; Left Navigation</a></li>
                      </ul>
                      <ul class="col-sm-6 col-md-3 list-unstyled ">
                        <li>
                          <p> Pages 2 </p>
                        </li>
                        <li><a href="services.html"><i class="fa fa-angle-right"></i> &nbsp; Services Style 1</a></li>
                        <li><a href="services-2.html"><i class="fa fa-angle-right"></i> &nbsp; Services Style 2</a></li>
                        <li><a href="services-3.html"><i class="fa fa-angle-right"></i> &nbsp; Services Style 3</a></li>
                        <li><a href="whois.html"><i class="fa fa-angle-right"></i> &nbsp; Search Whois</a></li>
                        <li><a href="team.html"><i class="fa fa-angle-right"></i> &nbsp; Team</a></li>
                        <li><a href="faq.html"><i class="fa fa-angle-right"></i> &nbsp; FAQ</a></li>
                      </ul>
                      <ul class="col-sm-6 col-md-3 list-unstyled ">
                        <li>
                          <p> Pages 3 </p>
                        </li>
                        <li><a href="full-width.html"><i class="fa fa-angle-right"></i> &nbsp; Full Width Page</a></li>
                        <li><a href="left-sidebar.html"><i class="fa fa-angle-right"></i> &nbsp; Left Sidebar Page</a></li>
                        <li><a href="right-sidebar.html"><i class="fa fa-angle-right"></i> &nbsp; Right Sidebar Page</a></li>
                        <li><a href="packages.html"><i class="fa fa-angle-right"></i> &nbsp; Package Plans</a></li>
                        <li><a href="careers.html"><i class="fa fa-angle-right"></i> &nbsp; Careers</a></li>
                        <li><a href="coming-soon.html"><i class="fa fa-angle-right"></i> &nbsp; Coming Soon</a></li>
                      </ul>
                      <ul class="col-sm-6 col-md-3 list-unstyled ">
                        <li>
                          <p> Pages 4 </p>
                        </li>
                        <li><a href="login.html"><i class="fa fa-angle-right"></i> &nbsp; Login Form</a></li>
                        <li><a href="register.html"><i class="fa fa-angle-right"></i> &nbsp; Registration Form</a></li>
                        <li><a href="sitemap.html"><i class="fa fa-angle-right"></i> &nbsp; Sitemap</a></li>
                        <li><a href="maintenance.html"><i class="fa fa-angle-right"></i> &nbsp; Maintenance</a></li>
                        <li><a href="404.html"><i class="fa fa-angle-right"></i> &nbsp; 404 Error Page</a></li>
                        <li><a href="404-2.html"><i class="fa fa-angle-right"></i> &nbsp; 404 Error Page2</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            
	            <li class="dropdown"> <a href="portfolio-three.html" class="dropdown-toggle">Portfolio</a>
              <ul class="dropdown-menu" role="menu">
                <li> <a href="portfolio-one.html">Single Item</a> </li>
                <li> <a href="portfolio-two.html">Portfolio Columns 2</a> </li>
                <li> <a href="portfolio-three.html">Portfolio Columns 3</a> </li>
                <li> <a href="portfolio-four.html">Portfolio Columns 4</a> </li>
                <li> <a href="portfolio-five.html">Portfolio + Sidebar</a> </li>
                <li> <a href="portfolio-six.html">Portfolio Masonry</a> </li>
                <li> <a href="portfolio-seven.html">Slider Projects</a> </li>
                <li class="dropdown-submenu mul"> <a tabindex="-1" href="#">Sub Menu + </a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Menu Item 1</a></li>
                    <li><a href="#">Menu Item 2</a></li>
                    <li><a href="#">Menu Item 3</a></li>
                  </ul>
                </li>
              </ul>
            </li>
	            <li class="dropdown"> <a href="blog.html" class="dropdown-toggle">Blog</a>
              <ul class="dropdown-menu three" role="menu">
                <li> <a href="blog.html">Blog Full Width</a> </li>
                <li> <a href="blog-2.html">Blog 3Columns</a> </li>
                <li> <a href="blog-3.html">Blog Standard</a> </li>
                <li> <a href="blog-post.html">Single Post</a> </li>
              </ul>
            </li>
            
            <li class="dropdown"> <a href="contact.html" class="dropdown-toggle align-1">Contact</a>
              <ul class="dropdown-menu align-1 two" role="menu">
                <li> <a href="contact.html">Contact Variation 1</a> </li>
                <li> <a href="contact-2.html">Contact Variation 2</a> </li>
                <li> <a href="contact-3.html">Contact Variation 3</a> </li>
              </ul>
            </li>
            
	          </ul>
	        </div>
	      </div>
	    </div>
	  </div>
	  <!--end menu-->
    </div>
    <!--end menu-->
    
    <div class="clearfix"></div>
    
    <!-- masterslider -->
    <div class="master-slider ms-skin-default" id="masterslider"> 
      
      <!-- slide 1 -->
      <div class="ms-slide slide-1" data-delay="9"> <img src="js/masterslider/blank.gif" data-src="http://placehold.it/1920x625" alt=""/> 
      
 		<img src="masterslider/blank.gif" data-src="images/sliders/31.png" alt=""
		 	  style="left:1150px; top:0px;"
		 	  class="ms-layer"
		 	  data-type="image"
		 	  data-delay="1000"
		 	  data-duration="2500"
		 	  data-ease="easeOutExpo"
		 	  data-effect="scalefrom(1.1,1.1,190,0)"
		 />
         
        <h3 class="ms-layer offerbadge orange-2"
			style="top: 350px; left:750px;"
			data-type="text"
			data-delay="1500"
			data-ease="easeOutExpo"
			data-duration="1230"
			data-effect="scale(1.5,1.6)"> Starting at <br/>
          <span class="price">$4.99</span><br/>
          /mo</h3>
          
        <h3 class="ms-layer offerbadge two"
			style="top: 300px; left:650px;"
			data-type="text"
			data-delay="2000"
			data-ease="easeOutExpo"
			data-duration="1230"
			data-effect="scale(1.5,1.6)"> Up to <br/>
          <span class="price two">50%</span><br/>
          /Offer</h3>
          
        <h3 class="ms-layer text1"
			style="left: 140px;top: 200px;"
			data-type="text"
			data-delay="2500"
			data-ease="easeOutExpo"
			data-duration="1230"
			data-effect="scale(1.5,1.6)"> unlimited </h3>
            
        <h3 class="ms-layer text2 margin-top"
			style="left: 140px;top: 240px;"
			data-type="text"
			data-delay="3000"
			data-ease="easeOutExpo"
			data-duration="1230"
			data-effect="scale(1.5,1.6)"> Web Hosting </h3>
            
        <h3 class="ms-layer text3 align-left margin-top"
        	style="left: 140px; top: 310px;"
            data-type="text"
            data-effect="top(45)"
            data-duration="2000"
            data-delay="3500"
            data-ease="easeOutExpo"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. <br/>Suspendisse 
          et justo. Praesent mattis. </h3>
            
            <a class="ms-layer btn sbut3 margin-top2 fsize-big"
			style="left: 140px; top: 420px;"
			data-type="text"
			data-delay="4000"
			data-ease="easeOutExpo"
			data-duration="1200"
			data-effect="scale(1.5,1.6)"> Get Started now </a>  
            
            </div>
      <!-- end slide 1 --> 
      
      <!-- slide 2 -->
      <div class="ms-slide slide-1" data-delay="9"> <img src="js/masterslider/blank.gif" data-src="http://placehold.it/1920x625" alt=""/> 
      
      <img src="masterslider/blank.gif" data-src="http://placehold.it/650x275" alt=""
		 	  style="left:40px; top:210px;"
		 	  class="ms-layer"
		 	  data-type="image"
		 	  data-delay="1000"
		 	  data-duration="2500"
		 	  data-ease="easeOutExpo"
		 	  data-effect="scalefrom(1.1,1.1,190,0)"
		 />
         
        <h3 class="ms-layer offerbadge orange-2"
			style="top: 150px; left:550px;"
			data-type="text"
			data-delay="1500"
			data-ease="easeOutExpo"
			data-duration="1230"
			data-effect="scale(1.5,1.6)"> Starting at <br/>
          <span class="price">$4.99</span><br/>
          /mo</h3>
          
        <h3 class="ms-layer offerbadge two"
			style="top: 250px; left:650px;"
			data-type="text"
			data-delay="2000"
			data-ease="easeOutExpo"
			data-duration="1230"
			data-effect="scale(1.5,1.6)"> Up to <br/>
          <span class="price two">50%</span><br/>
          /Offer</h3>
          
        <h3 class="ms-layer text1"
			style="left: 840px;top: 160px;"
			data-type="text"
			data-delay="2500"
			data-ease="easeOutExpo"
			data-duration="1230"
			data-effect="right(250)"> Dedicated </h3>
            
        <h3 class="ms-layer text2 margin-top"
			style="left: 840px;top: 200px;"
			data-type="text"
			data-delay="3000"
			data-ease="easeOutExpo"
			data-duration="1230"
			data-effect="left(250)">Hosting Servers </h3>

            
        <h3 class="ms-layer text4 margin-top2"
			style="top: 285px; left:840px;"
			data-type="text"
			data-delay="3600"
			data-ease="easeOutExpo"
			data-duration="1230"
			data-effect="right(250)"> <i class="fa fa-check"></i> FREE Domain Registration</h3>
            
        <h3 class="ms-layer text4 margin-top2"
			style="top: 310px; left:840px;"
			data-type="text"
			data-delay="3700"
			data-ease="easeOutExpo"
			data-duration="1230"
			data-effect="right(250)"> <i class="fa fa-check"></i> FREE Security Suite</h3>
            
        <h3 class="ms-layer text4 margin-top2"
			style="top: 335px; left:840px;"
			data-type="text"
			data-delay="3800"
			data-ease="easeOutExpo"
			data-duration="1230"
			data-effect="right(250)"> <i class="fa fa-check"></i> FREE Site-Building Tools</h3>
            
        <h3 class="ms-layer text4 margin-top2"
			style="top: 360px; left:840px;"
			data-type="text"
			data-delay="3900"
			data-ease="easeOutExpo"
			data-duration="1230"
			data-effect="right(250)"> <i class="fa fa-check"></i> FREE Search Engine & Marketing</h3>
            
        <a class="ms-layer btn sbut2 white margin-top2"
			style="right: 400px; top: 460px;"
			data-type="text"
			data-delay="4000"
			data-ease="easeOutExpo"
			data-duration="1200"
			data-effect="scale(1.5,1.6)"> Read more </a> 
            
            <a class="ms-layer btn sbut3 margin-top2"
			style="right: 200px; top: 460px;"
			data-type="text"
			data-delay="4000"
			data-ease="easeOutExpo"
			data-duration="1200"
			data-effect="scale(1.5,1.6)"> Get Started now </a>
            
            </div>
      <!-- end slide 2 --> 
      
      <!-- slide 3 -->
      <div class="ms-slide slide-1" data-delay="9"> <img src="js/masterslider/blank.gif" data-src="http://placehold.it/1920x625" alt=""/> 
    
        
          
        <h3 class="ms-layer text5"
			style="top: 200px;"
			data-type="text"
			data-delay="1000"
			data-ease="easeOutExpo"
			data-duration="1230"
			data-effect="left(250)">Reliable and</h3>
            
            <h3 class="ms-layer text6 margin-top"
			style="top: 250px;"
			data-type="text"
			data-delay="1500"
			data-ease="easeOutExpo"
			data-duration="1230"
			data-effect="right(250)">Affordable Web Hosting</h3>
            
        <a class="ms-layer btn sbut3 margin-top2 fsize-big"
			style="left: 620px; top: 360px;"
			data-type="text"
			data-delay="2000"
			data-ease="easeOutExpo"
			data-duration="1200"
			data-effect="bottom(250)"> Get Started now </a> 
            
            </div>
      <!-- end slide 3 -->
      
      
    </div>
    <div class="clearfix"></div>
    <!-- end of masterslider -->
    
    
    <section class="sec-less-padding section-primary">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <ul class="tld-list">
              <li> <span>.com</span> <span class="price">$11.99</span> </li>
              <li> <span>.org</span> <span class="price">$9.99</span> </li>
              <li> <span>.net</span> <span class="price">$7.99</span> </li>
            </ul>
          </div>
          <!--end column-->
          
          <div class="col-md-7 col-sm-12 col-xs-12">
            <div class="domain-search-home bmargin">
              <form method="get" id="domain-searchform" action="domain-search.html">
                <div>
                  <input class="input-text" name="dsearch" id="dsearch" value="Enter your Domain Name here..." onFocus="if (this.value == 'Enter your Domain Name here...') {this.value = '';}" onBlur="if (this.value == '') {this.value = 'Enter your Domain Name here...';}" type="text" />
                  <select class="drlist">
                    <option value=".com">.com</option>
                    <option value=".co">.co</option>
                    <option value=".net">.net</option>
                    <option value=".org">.org</option>
                    <option value=".biz">.biz</option>
                    <option value=".us.com">.us.com</option>
                    <option value=".us">.us</option>
                    <option value=".mobi">.mobi</option>
                    <option value=".info">.info</option>
                  </select>
                  <input id="search-submit" value="Search" type="submit" />
                </div>
              </form>
            </div>
          </div>
          <!--end column--> 
          
        </div>
      </div>
    </section>
    <div class="clearfix"></div>
    <!-- end section -->
    
    <section class="sec-padding">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <h3 class="uppercase font-weight-5 text-white less-mar-1">What We Offer</h3>
            <div class="clearfix"></div>
            <div class="title-line white align-center"></div>
            <p class="sub-title text-blue-gray">Lorem ipsum dolor sit amet consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue Aliquam justo sit amet ipsum dolor.</p>
          </div>
          <div class="clearfix"></div>
          <!--end title-->
          
          <div class="col-md-4">
            <div class="feature-box-10">
              <div class="text-box padding-4 text-center bottom-margin">
                <h4 class="uppercase text-white title">Reseller Hosting</h4>
                <h5 class="small-text text-white">Start at<span class="text-color-primary price">$19.99</span>/month</h5>
                <div class="clearfix"></div>
                <div class="divider-line solid blue-gray-2"></div>
                <br/>
                <p class="text-blue-gray">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue.</p>
                <br/>
                <a class="btn btn-bgprimary" href="#">View all Plans</a> </div>
            </div>
          </div>
          <!--end column-->
          
          <div class="col-md-4">
            <div class="feature-box-10 active">
              <div class="text-box padding-4 text-center bottom-margin">
                <h4 class="uppercase title">VPs Hosting</h4>
                <h5 class="small-text">Start at<span class="text-color-primary price">$20.99</span>/month</h5>
                <div class="clearfix"></div>
                <div class="divider-line solid blue-gray-2 opacity-4"></div>
                <br/>
                <p class="text-blue-gray">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue.</p>
                <br/>
                <a class="btn btn-bgprimary" href="#">View all Plans</a> </div>
            </div>
          </div>
          <!--end column-->
          
          <div class="col-md-4">
            <div class="feature-box-10">
              <div class="text-box padding-4 text-center bottom-margin">
                <h4 class="uppercase text-white title">Dedicated Servers</h4>
                <h5 class="small-text text-white">Start at<span class="text-color-primary price">$19.99</span>/month</h5>
                <div class="clearfix"></div>
                <div class="divider-line solid blue-gray-2"></div>
                <br/>
                <p class="text-blue-gray">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue.</p>
                <br/>
                <a class="btn btn-bgprimary" href="#">View all Plans</a> </div>
            </div>
          </div>
          <!--end column--> 
          
        </div>
      </div>
    </section>
    <div class="clearfix"></div>
    <!-- end section -->
    
    <section class="section-side-image section-blue-gray-dark clearfix">
      <div class="img-holder col-md-6 col-sm-3 pull-left">
        <div class="background-imgholder" style="background:url(http://placehold.it/1500x960);"><img class="nodisplay-image" src="http://placehold.it/1500x960" alt=""/> </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-5 col-md-offset-7 col-sm-8 col-sm-offset-4 text-inner clearfix align-left">
            <div class="text-box">
              <div class="col-xs-12 text-left">
                <h3 class="uppercase font-weight-5 less-mar-1 text-white">what’s hot</h3>
                <div class="clearfix"></div>
                <div class="title-line align-left white"></div>
                <div class="clearfix"></div>
                <p class="sub-title text-blue-gray align-left">Lorem ipsum dolor sit amet consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue Aliquam justo sit.</p>
              </div>
              <div class="clearfix"></div>
              <div class="col-md-6">
                <div class="feature-box-2">
                  <div class="price-badge">100%<br/>
                    <span>Free</span> </div>
                  <img src="http://placehold.it/395x190" alt="" class=" img-responsive"/> </div>
              </div>
              <!--end column-->
              
              <div class="col-md-6">
                <h4 class="text-white uppercase font-weight-4 less-mar-1">Get <span class="text-color-primary">25%</span> Off</h4>
                <h2 class="text-white uppercase font-weight-7">On Hosting</h2>
                <ul class="iconlist primary">
                  <li class="text-blue-gray"><i class="fa fa-check"></i> Suspendisse sit amet velit in dui. </li>
                  <li class="text-blue-gray"><i class="fa fa-check"></i> Duis dictum auctor augue</li>
                </ul>
              </div>
              <!--end item-->
              <div class=" clearfix"></div>
              <br/>
              <a class="btn btn-border transparent-white" href="#">sign up now !</a>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class=" clearfix"></div>
    <!--end section-->
   
    <section class="sec-tpadding-2">
      <div class="container">
        <div class="row">
         <div class="col-xs-12 text-center">
            <h3 class="uppercase font-weight-5 text-white less-mar-1">Our Plans</h3>
            <div class="clearfix"></div>
            <div class="title-line white align-center"></div>
            <p class="sub-title text-blue-gray">Lorem ipsum dolor sit amet consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue Aliquam justo sit amet ipsum dolor.</p>
          </div>
          <div class="clearfix"></div>
          <!--end title-->
          
        </div>
      </div>
    </section>
    <div class=" clearfix"></div>
    <!--end section-->
    
    <section class="sec-bpadding-2">
      <div class="container">
        <div class="row no-gutter">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="pricetable-top-bg-strip"></div>
            <div class="pricetable-holder-2 border-right bottom-margin">
              <div class="title-box">
                <h3 class="title font-weight-5 less-mar2">Basic</h3>
                <div class="price"><sup>$</sup>9.99<i><span class="text-color-primary">/ mo</span></i></div>
              </div>
              <ul class="features-list">
                <li>1 GB Bandwidth</li>
                <li>1 GB Bandwidth</li>
                <li>Unlimited</li>
                <li>1 GB Bandwidth</li>
                <li>1 GB Bandwidth</li>
              </ul>
              <div class="clearfix"></div>
              <br/>
              <br/>
              <a class="btn btn-dark-3 btn-medium" href="#">Order Now !</a> </div>
          </div>
          <!--end item-->
          
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="pricetable-top-bg-strip"></div>
            <div class="pricetable-holder-2 bottom-margin">
              <div class="title-box">
                <h3 class="title font-weight-5 less-mar2">Standard</h3>
                <div class="price"><sup>$</sup>9.99<i><span class="text-color-primary">/ mo</span></i></div>
              </div>
              <ul class="features-list">
                <li>1 GB Bandwidth</li>
                <li>1 GB Bandwidth</li>
                <li>Unlimited</li>
                <li>1 GB Bandwidth</li>
                <li>1 GB Bandwidth</li>
              </ul>
              <div class="clearfix"></div>
              <br/>
              <br/>
              <a class="btn btn-dark-3 btn-medium" href="#">Order Now !</a> </div>
          </div>
          <!--end item-->
          
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="pricetable-holder-2 active bottom-margin">
              <div class="title-box">
                <h3 class="title font-weight-5 less-mar2">Premium</h3>
                <div class="price"><sup>$</sup>9.99<i><span>/ mo</span></i></div>
              </div>
              <ul class="features-list">
                <li>1 GB Bandwidth</li>
                <li>1 GB Bandwidth</li>
                <li>Unlimited</li>
                <li>1 GB Bandwidth</li>
                <li>1 GB Bandwidth</li>
              </ul>
              <div class="clearfix"></div>
              <br/>
              <br/>
              <a class="btn btn-white btn-medium" href="#">Order Now !</a> </div>
          </div>
          <!--end item-->
          
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="pricetable-top-bg-strip"></div>
            <div class="pricetable-holder-2 bottom-margin">
              <div class="title-box">
                <h3 class="title font-weight-5 less-mar2">Unlimited</h3>
                <div class="price"><sup>$</sup>9.99<i><span class="text-color-primary">/ mo</span></i></div>
              </div>
              <ul class="features-list">
                <li>1 GB Bandwidth</li>
                <li>1 GB Bandwidth</li>
                <li>Unlimited</li>
                <li>1 GB Bandwidth</li>
                <li>1 GB Bandwidth</li>
              </ul>
              <div class="clearfix"></div>
              <br/>
              <br/>
              <a class="btn btn-dark-3 btn-medium" href="#">Order Now !</a> </div>
          </div>
          <!--end item--> 
        </div>
      </div>
    </section>
    <div class="clearfix"></div>
    <!-- end section -->
    
    
    <section>
      <div class="container">
        <div class="divider-line-dobble"></div>
        <div class="row sec-padding">
          <div class="col-md-6">
            <h4 class="font-weight-4 text-white less-mar-1 uppercase">Top Services</h4>
            <div class="clearfix"></div>
            <div class="title-line white align-left"></div>
            <div class="clearfix"></div>
            <br/>
            <br/>
            <div class="feature-box-11 bottom-margin">
              <div class="iconbox-smedium border-blue-gray align left"><span class="icon-global"></span></div>
              <div class="text-box-right">
                <h4 class="less-mar-3 text-white">Web Site Management</h4>
                <p class="text-blue-gray">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo Praesent mattis et amet.</p>
              </div>
            </div>
            <!--end item-->
            
            <div class="col-divider-margin-3"></div>
            <div class="feature-box-11 bottom-margin active">
              <div class="iconbox-smedium border-gray-2 round align left"><span class="icon-layers"></span></div>
              <div class="text-box-right">
                <h4 class="less-mar-3 text-white">Domain Services</h4>
                <p class="text-blue-gray">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo Praesent mattis et amet.</p>
              </div>
            </div>
            <!--end item-->
            
            <div class="col-divider-margin-3"></div>
            <div class="feature-box-11 bottom-margin">
              <div class="iconbox-smedium border-blue-gray align left"><span class="icon-envelope"></span></div>
              <div class="text-box-right">
                <h4 class="less-mar-3 text-white">Email Services</h4>
                <p class="text-blue-gray">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo Praesent mattis et amet.</p>
              </div>
            </div>
            <!--end item--> 
          </div>
          <!--end column-->
          
          <div class="col-md-6">
            <h4 class="font-weight-4 text-white less-mar-1 uppercase">Why Choose Us</h4>
            <div class="clearfix"></div>
            <div class="title-line white align-left"></div>
            <div class="clearfix"></div>
            <br/>
            <br/>
            <div class="tab-navbar-main-style-2 tabstyle-2 blue-gray-dark">
              <ul class="responsive-tabs">
                <li><a href="#example-1-tab-1" target="_self">
                  <div class="tab-navicon"></div>
                  UI Design</a></li>
                <li><a href="#example-1-tab-2" target="_self">
                  <div class="tab-navicon"></div>
                  Responsive</a></li>
                <li><a href="#example-1-tab-3" target="_self">
                  <div class="tab-navicon"></div>
                  Easy to Edit</a></li>
                <li><a href="#example-1-tab-4" target="_self">
                  <div class="tab-navicon"></div>
                  Layered PSD Files</a></li>
              </ul>
            </div>
            <div class="clearfix"></div>
            <div class="tab-content-style-2 bg-blue-gray">
              <div class="responsive-tabs-content">
                <div id="example-1-tab-1" class="responsive-tabs-panel">
                  <div class="responsive-tab-title"></div>
                  <div class="col-md-7">
                    <div class="feature-box-4 bottom-margin">
                      <h4 class="font-weight-3 text-white">100% Responsive</h4>
                      <p class="text-blue-gray">Lorem ipsum dolor sit amet sit et justo elit orci augue consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est </p>
                    </div>
                    <!--end item--> 
                  </div>
                  <div class="col-md-5"> <img src="http://placehold.it/200x200" alt="" class="img-responsive"/> </div>
                </div>
                
                <!--end panel 1-->
                
                <div id="example-1-tab-2" class="responsive-tabs-panel">
                  <div class="responsive-tab-title"></div>
                  <p class="text-blue-gray"><img src="http://placehold.it/200x150" alt="" class="img-align-left"/>Lorem ipsum dolor sit amet sit et justo elit orci augue consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est</p>
                  <p class="text-blue-gray">Lorem ipsum dolor sit amet sit et justo elit orci augue consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue Aliquam ornare hendrerit.</p>
                </div>
                <!--end panel 2-->
                
                <div id="example-1-tab-3" class="responsive-tabs-panel">
                  <div class="responsive-tab-title"></div>
                  <h4 class="text-white">Easy to Edit</h4>
                  <p class="text-blue-gray">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci </p>
                  <p class="text-blue-gray">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue Aliquam ornare</p>
                </div>
                <!--end panel 3-->
                
                <div id="example-1-tab-4" class="responsive-tabs-panel">
                  <div class="responsive-tab-title"></div>
                  <div class="col-md-7">
                    <div class="feature-box-4 bottom-margin">
                      <h4 class="font-weight-3 text-white">Layered PSD Files</h4>
                      <p class="text-blue-gray">Lorem ipsum dolor sit amet sit et justo elit orci augue consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est </p>
                    </div>
                    <!--end item--> 
                  </div>
                  <div class="col-md-5"> <img src="http://placehold.it/200x200" alt="" class="img-responsive"/> </div>
                </div>
                <!--end panel 4--> 
              </div>
            </div>
            <!--end column--> 
          </div>
        </div>
      </div>
    </section>
    <div class="clearfix"></div>
    <!-- end section -->
    
   
  
    <section class="parallax-sec-2">
      <div class="section-overlay bg-primary bg-opacity-8">
        <div class="container sec-tpadding-2 sec-bpadding-2">
          <div class="row">
            <div class="col-xs-12 text-center">
            <h3 class="uppercase font-weight-5 less-mar-1 text-white">What People Says</h3>
            <div class="clearfix"></div>
            <div class="title-line white align-center"></div>
            <div class="clearfix"></div>
            <br/><br/>
          </div>
            <div class="clearfix"></div>
            <!--end title-->
            
            <div class="col-md-8 col-centered"> 
              
              <!-- template -->
              <div class="ms-staff-carousel ms-round noborder style-1 triggerAnimation animated "> 
                <!-- masterslider -->
                <div class="master-slider slide-2" id="masterslider2">
                  <div class="ms-slide"> <img src="../masterslider/style/blank.gif" data-src="http://placehold.it/200x200" alt="lorem ipsum dolor sit"/>
                    <div class="ms-info">
                      <h4 class="text-white font-weight-4 less-mar-2 nopadding">John Doe</h4>
                      <h6 class="text-white nopadding">Manager -  smartinc</h6>
                      <p class="text-white">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur </p>
                    </div>
                  </div>
                  <!--end slide-->
                  
                  <div class="ms-slide"> <img src="../masterslider/style/blank.gif" data-src="http://placehold.it/200x200" alt="lorem ipsum dolor sit"/>
                    <div class="ms-info">
                      <h4 class="text-white font-weight-4 less-mar-2 nopadding">Sophia</h4>
                      <h6 class="text-white nopadding">Developer - smartinc</h6>
                      <p class="text-white">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue Aliquam ornare hendrerit augue </p>
                    </div>
                  </div>
                  <!--end slide-->
                  
                  <div class="ms-slide"> <img src="../masterslider/style/blank.gif" data-src="http://placehold.it/200x200" alt="lorem ipsum dolor sit"/>
                    <div class="ms-info">
                      <h4 class="text-white font-weight-4 less-mar-2 nopadding">Alexander</h4>
                      <h6 class="text-white nopadding">Marketing - smartinc</h6>
                      <p class="text-white">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue Aliquam ornare hendrerit augue </p>
                    </div>
                  </div>
                  <!--end slide-->
                  
                  <div class="ms-slide"> <img src="../masterslider/style/blank.gif" data-src="http://placehold.it/200x200" alt="lorem ipsum dolor sit"/>
                    <div class="ms-info">
                      <h4 class="text-white font-weight-4 less-mar-2 nopadding">Madison</h4>
                      <h6 class="text-white nopadding">Support - smartinc</h6>
                      <p class="text-white">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue Aliquam ornare hendrerit augue </p>
                    </div>
                  </div>
                  <!--end slide-->
                  
                  <div class="ms-slide"> <img src="../masterslider/style/blank.gif" data-src="http://placehold.it/200x200" alt="lorem ipsum dolor sit"/>
                    <div class="ms-info">
                      <h4 class="text-white font-weight-4 less-mar-2 nopadding">Benjamin</h4>
                      <h6 class="text-white nopadding">Customer care - smartinc</h6>
                      <p class="text-white">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue Aliquam ornare hendrerit augue </p>
                    </div>
                  </div>
                  <!--end slide--> 
                  
                </div>
                <!-- end of masterslider -->
                <div class="ms-staff-info" id="staff-info"> </div>
              </div>
              <!-- end of template --> 
              
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="clearfix"></div>
    <!--end section-->
    
    <section class="sec-padding">
  <div class="container">
  <div class="row">
  
  <div class="col-md-5 bottom-margin">
  <img src="http://placehold.it/520x520" alt="" class="img-responsive"/>
  </div>
  <!--end item-->
  
  <div class="col-md-7">
  <h2 class="font-weight-4 text-white">Awesome Features</h2>
  <h6>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue Aliquam ornare hendrerit augue</h6>

  <p class="text-blue-gray">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci Cras laoreet ligula. Etiam sit amet dolor. Vestibulum ante ipsum primis.</p>
  
  <br/>
  <div class="col-md-6"><ul class="iconlist text-blue-gray primary">
                  <li><i class="fa fa-check"></i> Duis dictum auctor augue</li>
                  <li><i class="fa fa-check"></i> Suspendisse sit amet velit in dui. </li>
                  <li><i class="fa fa-check"></i> Phasellus a metus nec augue justo. </li>
                  <li><i class="fa fa-check"></i> Nam convallis sagittis nunc. </li>
                </ul></div>
                
                <div class="col-md-6"><ul class="iconlist text-blue-gray primary">
                  <li><i class="fa fa-check"></i> Duis dictum auctor augue</li>
                  <li><i class="fa fa-check"></i> Suspendisse sit amet velit in dui. </li>
                  <li><i class="fa fa-check"></i> Phasellus a metus nec augue justo. </li>
                  <li><i class="fa fa-check"></i> Nam convallis sagittis nunc. </li>
                </ul></div>
                <div class="clearfix"></div>
              <br/><br/>
              <a class="btn btn-bgprimary light btn-large" href="#">Read more</a>
              
  </div>
  <!--end item-->
  
  </div>
  </div>
  </section>
<div class="clearfix"></div>
  <!-- end section -->
  
  <section>
  <div class="container">
  <div class="divider-line-dobble"></div>
        <div class="row sec-padding">
  
  <div class="col-md-4 bottom-margin">
          <div class="blog-holder-2">
            <div class="image-holder">
              <div class="overlay bg-opacity-2">
                <div class="outer-box">
                <div class="post-date-box"> 25 <span>May, 2015</span> </div>
                </div>
              </div>
              <img class="img-responsive" alt="" src="http://placehold.it/1000x800"> </div>
          </div>
          <div class="clearfix"></div>
          <br/>
          <a href="#">
          <h4 class="less-mar1 text-white">Vestibulum ante ipsum</h4>
          </a>
          <div class="blog-post-info text-blue-gray"> <span><i class="fa fa-user"></i> By Benjamin</span> <span><i class="fa fa-comments-o"></i> 15 Comments</span> </div>
          <br/>
          <p class="text-blue-gray">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue. Aliquam ornare hendrerit augue. Cras tellus. In pulvinar lectus a est. Curabitur eget orci. Cras laoreet ligula. Etiam sit amet dolor. Vestibulum</p>
          </div>
        <!--end item-->
        
        <div class="col-md-4 bottom-margin">
          <div class="blog-holder-2">
            <div class="image-holder">
              <div class="overlay bg-opacity-2">
                <div class="outer-box">
                <div class="post-date-box"> 25 <span>May, 2015</span> </div>
                </div>
              </div>
              <img class="img-responsive" alt="" src="http://placehold.it/1000x800"> </div>
          </div>
          <div class="clearfix"></div>
          <br/>
          <a href="#">
          <h4 class="less-mar1 text-white">Vestibulum ante ipsum</h4>
          </a>
          <div class="blog-post-info text-blue-gray"> <span><i class="fa fa-user"></i> By Benjamin</span> <span><i class="fa fa-comments-o"></i> 15 Comments</span> </div>
          <br/>
          <p class="text-blue-gray">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue. Aliquam ornare hendrerit augue. Cras tellus. In pulvinar lectus a est. Curabitur eget orci. Cras laoreet ligula. Etiam sit amet dolor. Vestibulum</p>
          </div>
        <!--end item--> 
        
        <div class="col-md-4 bottom-margin">
          <div class="blog-holder-2">
            <div class="image-holder">
              <div class="overlay bg-opacity-2">
                <div class="outer-box">
                <div class="post-date-box"> 25 <span>May, 2015</span> </div>
                </div>
              </div>
              <img class="img-responsive" alt="" src="http://placehold.it/1000x800"> </div>
          </div>
          <div class="clearfix"></div>
          <br/>
          <a href="#">
          <h4 class="less-mar1 text-white">Vestibulum ante ipsum</h4>
          </a>
          <div class="blog-post-info text-blue-gray"> <span><i class="fa fa-user"></i> By Benjamin</span> <span><i class="fa fa-comments-o"></i> 15 Comments</span> </div>
          <br/>
          <p class="text-blue-gray">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue. Aliquam ornare hendrerit augue. Cras tellus. In pulvinar lectus a est. Curabitur eget orci. Cras laoreet ligula. Etiam sit amet dolor. Vestibulum</p>
          </div>
        <!--end item--> 

  </div>
  </div>
  </section>
<div class="clearfix"></div>
  <!-- end section -->
    
    <section>
      <div class="container">
        <div class="divider-line-dobble"></div>
        <div class="row sec-less-padding">
          <div class="col-md-12">
            <ul class="clientlogo-list">
              <li><img src="http://placehold.it/170x80" alt=""/></li>
              <li><img src="http://placehold.it/170x80" alt=""/></li>
              <li><img src="http://placehold.it/170x80" alt=""/></li>
              <li><img src="http://placehold.it/170x80" alt=""/></li>
              <li><img src="http://placehold.it/170x80" alt=""/></li>
              <li><img src="http://placehold.it/170x80" alt=""/></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <div class="clearfix"></div>
    <!--end section -->
    
    <section class="section-primary sec-tpadding-1 sec-bpadding-1">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <h3 class="text-white">Over 4 million customers trust our services and servers</h3>
          </div>
          <div class="col-md-3">
            <div class="margin-top2"></div>
            <a class="btn btn-border white btn-large pull-right" href="#">Sign Up Now !</a> </div>
        </div>
      </div>
    </section>
    <div class="clearfix"></div>
    <!--end section-->
    
    <section class="section-blue-gray-dark sec-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12 bottom-margin">
            <h5 class="footer-title uppercase less-mar-3 font-weight-4">About</h5>
            <div class="clearfix"></div>
            <div class="footer-title-line align-left"></div>
            <div class="clearfix"></div>
            <ul class="usefull-links text-blue-gray no-border">
              <li><a href="#"><i class="fa fa-angle-right"></i> About Us</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> Hosting Plans</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> Our Awards</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> Our History</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> Our History</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> Privacy</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> Placerat bibendum</a></li>
            </ul>
          </div>
          <!--end item-->
          
          <div class="col-md-3 col-sm-6 col-xs-12 bottom-margin">
            <div class="item-holder">
              <h5 class="footer-title uppercase less-mar-3 font-weight-4">Latest Blog Posts</h5>
              <div class="clearfix"></div>
              <div class="footer-title-line align-left"></div>
              <div class="clearfix"></div>
              <div class="image-left"><img src="http://placehold.it/80x80" alt=""/></div>
              <div class="text-box-right">
                <h6 class="text-white less-mar3 nopadding font-weight-3 nopadding"><a href="#">Shared Hosting</a></h6>
                <p class="text-blue-gray">Lorem ipsum dolor sit</p>
                <div class="footer-post-info text-blue-gray opacity-4"> <span>By John Doe</span><span>May 15</span> </div>
              </div>
              <!--end item-->
              
              <div class="divider-line solid dark margin opacity-3"></div>
              <div class="clearfix"></div>
              <div class="image-left"><img src="http://placehold.it/80x80" alt=""/></div>
              <div class="text-box-right">
                <h6 class="text-white less-mar3 font-weight-3 nopadding"><a href="#">VPS Hosting</a></h6>
                <p class="text-blue-gray">Lorem ipsum dolor sit</p>
                <div class="footer-post-info text-blue-gray opacity-4"> <span>By John Doe</span><span>May 15</span> </div>
              </div>
            </div>
          </div>
          <!--end item-->
          
          <div class="col-md-3 col-sm-6 col-xs-12 bottom-margin">
            <h5 class="footer-title uppercase less-mar-3 font-weight-4">Usefull Links</h5>
            <div class="clearfix"></div>
            <div class="footer-title-line align-left"></div>
            <div class="clearfix"></div>
            <ul class="usefull-links text-blue-gray no-border">
              <li><a href="#"><i class="fa fa-angle-right"></i> Placerat bibendum</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> Ullamcorper odio nec turpis</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> Aliquam porttitor vestibulum ipsum</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> Lobortis enim nec nisi</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> Ullamcorper odio nec turpis</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> Placerat bibendum</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> Lobortis enim nec nisi</a></li>
            </ul>
          </div>
          <!--end item-->
          
          <div class="col-md-3 col-sm-6 col-xs-12 bottom-margin">
            <h5 class="footer-title uppercase less-mar-3 font-weight-4">Need Help</h5>
            <div class="clearfix"></div>
            <div class="footer-title-line align-left"></div>
            <div class="clearfix"></div>
            <ul class="usefull-links text-blue-gray no-border">
              <li><a href="#"><i class="fa fa-angle-right"></i> Contact Us</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> Tech Support</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> My Account</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> Legal</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> Privacy</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> My Account</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> Documentation</a></li>
            </ul>
          </div>
          <!--end item--> 
          
        </div>
      </div>
    </section>
    <div class="clearfix"></div>
    <!--end section-->
    
    <section class="sec-xless-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12 bmargin">
            <ul class="footer-payment-logo-list">
              <li>
                <h6 class="text-blue-gray">We Accept:</h6>
              </li>
              <li><img src="http://placehold.it/50x35" alt=""/></li>
              <li><img src="http://placehold.it/50x35" alt=""/></li>
              <li><img src="http://placehold.it/50x35" alt=""/></li>
              <li><img src="http://placehold.it/50x35" alt=""/></li>
              <li><img src="http://placehold.it/50x35" alt=""/></li>
            </ul>
          </div>
          <!--end item-->
          
          <div class="col-md-4 col-sm-12 col-xs-12 bmargin">
            <ul class="footer-payment-logo-list">
              <li>
                <h6 class="text-blue-gray">Awards:</h6>
              </li>
              <li><img src="http://placehold.it/60x45" alt=""/></li>
              <li><img src="http://placehold.it/60x45" alt=""/></li>
              <li><img src="http://placehold.it/60x45" alt=""/></li>
            </ul>
          </div>
          <!--end item-->
          
          <div class="col-md-2 col-sm-12 col-xs-12 bottom-margin"> <a class="btn btn-green" href="#"><i class="fa fa-comments"></i> Live Chat</a> </div>
          <!--end item--> 
        </div>
      </div>
    </section>
    <div class="clearfix"></div>
    <!-- end section -->
    
    <div class="divider-line-dobble"></div>
    <div class="clearfix"></div>
    <section class="sec-xxless-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-6 text-left"> <span class="text-blue-gray">Copyright © 2015 l yourdomain.com. All rights reserved.</span></div>
          <div class="col-md-6">
            <ul class="footer-social-icons pull-right">
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <div class="clearfix"></div>
    <!--end section-->
    
    <a href="#" class="scrollup"></a><!-- end scroll to top of the page--> 
    
  </div>
  <!--end site wrapper--> 
</div>
<!--end wrapper boxed--> 

<!-- Scripts --> 
<script src="js/jquery/jquery.min.js"></script> 
<script src="js/bootstrap/js/bootstrap.min.js"></script> 
<script src="js/less/less.min.js" data-env="development"></script> 
<script src="js/sticky/js/jquery.sticky.js"></script> 
<!-- Scripts END --> 

<!-- Template scripts --> 
<script src="js/mainmenu/customeUI.js"></script>
<script src="js/masterslider/masterslider.min.js"></script> 
<script src="js/template-custom/js/template-custom.js"></script> 
<script src="js/owl-carousel/owl.carousel.js"></script> 
<script src="js/owl-carousel/custom.js"></script> 
<script src="js/tabs/js/responsive-tabs.min.js" type="text/javascript"></script> 
<script type="text/javascript">
(function($) {
 "use strict";
	var slider = new MasterSlider();
	// adds Arrows navigation control to the slider.
	slider.control('arrows');
	slider.control('bullets');
	
	slider.setup('masterslider' , {
		 width:1400,    // slider standard width
		 height:625,   // slider standard height
		 space:0,
		 speed:45,
		 layout:'fillwidth',
		 loop:true,
		 preload:0,
		 autoplay:true,
		 view:"parallaxMask"
	});
})(jQuery);
</script> 

<script type="text/javascript">
(function($) {
 "use strict";
	 var slider = new MasterSlider();
    slider.setup('masterslider2' , {
        loop:true,
        width:100,
        height:100,
        speed:20,
        view:'fadeBasic',
        preload:0,
        space:0,
        space:35,
        viewOptions:{centerSpace:1.6}
    });
    slider.control('arrows');
    slider.control('slideinfo',{insertTo:'#staff-info'});
})(jQuery);
</script> 
<script src="js/functions/functions.js"></script> 




</body>
</html>
