<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Host Linea - Web Hosting, Responsive HTML5 Template</title>
<meta name="keywords" content="" />
<meta name="description" content="Host Linea HTML5 Template">
<meta name="author" content="">

<!-- Mobile view -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Favicon -->
<link rel="shortcut icon" href="images/favicon.ico">
<link rel="stylesheet" type="text/css" href="js/bootstrap/css/bootstrap.min.css">

<!-- Google fonts - witch you want to use - (rest you can just remove) -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>

<!-- Template's stylesheets -->
<link rel="stylesheet" href="js/template-custom/css/template-custom.css">
<link rel="stylesheet" href="css/theme-default.css" type="text/css">
<link rel="stylesheet" href="css/theme.css" type="text/css">
<link rel="stylesheet" href="js/mainmenu/menu.css" type="text/css" />
<link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" type="text/css" href="fonts/Simple-Line-Icons-Webfont/simple-line-icons.css" media="screen" />
<link rel="stylesheet" href="fonts/et-line-font/et-line-font.css">
<link rel="stylesheet" href="js/masterslider/style/masterslider.css"/>
<link href="js/masterslider/skins/default/style.css" rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="js/masterslider/style/style.css">
<link href="js/masterslider/staffcarousel/ms-staff-style.css" rel='stylesheet' type='text/css'>
<link href="js/masterslider/staffcarousel/ms-staff-style.css" rel='stylesheet' type='text/css'>
<link href="js/owl-carousel/owl.carousel.css" rel="stylesheet">
<link href="js/owl-carousel/owl.theme.css" rel="stylesheet">
<link href="js/tabs/css/responsive-tabs.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="css/theme-responsive.css">

<!-- Template's stylesheets END -->

<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Style Customizer's stylesheets -->

<link rel="stylesheet/less" type="text/css" href="less/skin.less">

<!-- Style Customizer's stylesheets END -->

<!-- Skin stylesheet -->

<body class="loading">



<div class="preloader-wrap"></div>

<!-- Page template --> 

<!-- Preloader icon -->

<div class="wrapper-boxed">
  <div class="site-wrapper" style="position: relative;">
    <div class="topbar topbar-padding">
      <div class="container">
        <ul class="toplist text-blue-gray toppadding">
          <li>Customer Care</li>
          <li class="lineright ">(888) 123-4567</li>
          <li class="lineright"><a href="#">Login</a></li>
          <li class="lineright"><a href="#">Register</a></li>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li class="last"><a href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="clearfix"></div>
    
    <!--end topbar-->
    <div class="divider-line solid blue-gray"></div>
    <div class="col-md-12 nopadding">
      <div id="header">
	    <div class="container">
	      <div class="navbar navbar-default yamm">
	        <div class="navbar-header">
	          <button type="button" data-toggle="collapse" data-target="#navbar-collapse-grid" class="navbar-toggle two three"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
	          <a href="index.html" class="navbar-brand"><img src="images/logo/logo.png" alt=""></a> </div>
	        <div id="navbar-collapse-grid" class="navbar-collapse collapse pull-right">
	          <ul class="nav navbar-nav">
	            <li> <a href="index.html" class="dropdown-toggle">Home</a></li>
	            <li class="dropdown"> <a href="index.html" class="dropdown-toggle">Layouts</a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="http://codelayers.net/templates/hostlinea/creative/index.html">Creative</a> </li>
                <li><a href="http://codelayers.net/templates/hostlinea/creative-2/index.html">Creative 2</a> </li>
                <li><a href="http://codelayers.net/templates/hostlinea/classic/index.html">Classic</a> </li>
              </ul>
            </li>
	            <li> <a href="domain-search.html" class="dropdown-toggle">Domains</a></li>
                
                <li> <a href="web-hosting.html" class="dropdown-toggle">Hosting</a></li>
                
                <li class="dropdown yamm-fw"> <a href="about2.html" class="dropdown-toggle active">Pages</a>
              <ul class="dropdown-menu">
                <li> 
                  <!-- Content container to add padding -->
                  <div class="yamm-content">
                    <div class="row">
                      <ul class="col-sm-6 col-md-3 list-unstyled ">
                        <li>
                          <p> Pages 1 </p>
                        </li>
                        <li><a href="about.html"><i class="fa fa-angle-right"></i> &nbsp; About Style 1</a></li>
                        <li><a href="about-2.html"><i class="fa fa-angle-right"></i> &nbsp; About Style 2</a></li>
                        <li><a href="about-3.html"><i class="fa fa-angle-right"></i> &nbsp; About Style 3</a></li>
                        <li><a href="website-builder.html"><i class="fa fa-angle-right"></i> &nbsp; Website Builder</a></li>
                        <li><a href="affiliates.html"><i class="fa fa-angle-right"></i> &nbsp; Affiliates</a></li>
                        <li><a href="left-nav.html"><i class="fa fa-angle-right"></i> &nbsp; Left Navigation</a></li>
                      </ul>
                      <ul class="col-sm-6 col-md-3 list-unstyled ">
                        <li>
                          <p> Pages 2 </p>
                        </li>
                        <li><a class="active" href="services.html"><i class="fa fa-angle-right"></i> &nbsp; Services Style 1</a></li>
                        <li><a href="services-2.html"><i class="fa fa-angle-right"></i> &nbsp; Services Style 2</a></li>
                        <li><a href="services-3.html"><i class="fa fa-angle-right"></i> &nbsp; Services Style 3</a></li>
                        <li><a href="whois.html"><i class="fa fa-angle-right"></i> &nbsp; Search Whois</a></li>
                        <li><a href="team.html"><i class="fa fa-angle-right"></i> &nbsp; Team</a></li>
                        <li><a href="faq.html"><i class="fa fa-angle-right"></i> &nbsp; FAQ</a></li>
                      </ul>
                      <ul class="col-sm-6 col-md-3 list-unstyled ">
                        <li>
                          <p> Pages 3 </p>
                        </li>
                        <li><a href="full-width.html"><i class="fa fa-angle-right"></i> &nbsp; Full Width Page</a></li>
                        <li><a href="left-sidebar.html"><i class="fa fa-angle-right"></i> &nbsp; Left Sidebar Page</a></li>
                        <li><a href="right-sidebar.html"><i class="fa fa-angle-right"></i> &nbsp; Right Sidebar Page</a></li>
                        <li><a href="packages.html"><i class="fa fa-angle-right"></i> &nbsp; Package Plans</a></li>
                        <li><a href="careers.html"><i class="fa fa-angle-right"></i> &nbsp; Careers</a></li>
                        <li><a href="coming-soon.html"><i class="fa fa-angle-right"></i> &nbsp; Coming Soon</a></li>
                      </ul>
                      <ul class="col-sm-6 col-md-3 list-unstyled ">
                        <li>
                          <p> Pages 4 </p>
                        </li>
                        <li><a href="login.html"><i class="fa fa-angle-right"></i> &nbsp; Login Form</a></li>
                        <li><a href="register.html"><i class="fa fa-angle-right"></i> &nbsp; Registration Form</a></li>
                        <li><a href="sitemap.html"><i class="fa fa-angle-right"></i> &nbsp; Sitemap</a></li>
                        <li><a href="maintenance.html"><i class="fa fa-angle-right"></i> &nbsp; Maintenance</a></li>
                        <li><a href="404.html"><i class="fa fa-angle-right"></i> &nbsp; 404 Error Page</a></li>
                        <li><a href="404-2.html"><i class="fa fa-angle-right"></i> &nbsp; 404 Error Page2</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            
	            <li class="dropdown"> <a href="portfolio-three.html" class="dropdown-toggle">Portfolio</a>
              <ul class="dropdown-menu" role="menu">
                <li> <a href="portfolio-one.html">Single Item</a> </li>
                <li> <a href="portfolio-two.html">Portfolio Columns 2</a> </li>
                <li> <a href="portfolio-three.html">Portfolio Columns 3</a> </li>
                <li> <a href="portfolio-four.html">Portfolio Columns 4</a> </li>
                <li> <a href="portfolio-five.html">Portfolio + Sidebar</a> </li>
                <li> <a href="portfolio-six.html">Portfolio Masonry</a> </li>
                <li> <a href="portfolio-seven.html">Slider Projects</a> </li>
                <li class="dropdown-submenu mul"> <a tabindex="-1" href="#">Sub Menu + </a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Menu Item 1</a></li>
                    <li><a href="#">Menu Item 2</a></li>
                    <li><a href="#">Menu Item 3</a></li>
                  </ul>
                </li>
              </ul>
            </li>
	            <li class="dropdown"> <a href="blog.html" class="dropdown-toggle">Blog</a>
              <ul class="dropdown-menu three" role="menu">
                <li> <a href="blog.html">Blog Full Width</a> </li>
                <li> <a href="blog-2.html">Blog 3Columns</a> </li>
                <li> <a href="blog-3.html">Blog Standard</a> </li>
                <li> <a href="blog-post.html">Single Post</a> </li>
              </ul>
            </li>
            
            <li class="dropdown"> <a href="contact.html" class="dropdown-toggle align-1">Contact</a>
              <ul class="dropdown-menu align-1 two" role="menu">
                <li> <a href="contact.html">Contact Variation 1</a> </li>
                <li> <a href="contact-2.html">Contact Variation 2</a> </li>
                <li> <a href="contact-3.html">Contact Variation 3</a> </li>
              </ul>
            </li>
            
	          </ul>
	        </div>
	      </div>
	    </div>
	  </div>
    </div>
    <!--end menu-->
    
    <div class="clearfix"></div>
    <section class="sec-padding section-blue-gray-dark text-center">
      <div class="container">
        <div class="row">
          <h1 class="text-white uppercase font-weight-7">We are Hostlinea</h1>
          <h5 class="text-blue-gray">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. <br/>
            Praesent mattis commodo augue. Aliquam</h5>
          <br/>
          <a href="#" class="btn btn-bgprimary">Get Started</a> </div>
      </div>
    </section>
    <div class="clearfix"></div>
    <!-- end section -->
    
    <section class="sec-padding">
      <div class="container">
         <div class="col-xs-12 text-left">
            <h3 class="uppercase text-white font-weight-5 less-mar-1">Our Services</h3>
            <div class="clearfix"></div>
            <p class="sub-title-2 text-blue-gray text-left">Lorem ipsum dolor sit amet consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue Aliquam justo sit amet ipsum dolor.</p>
          </div>
          <div class="clearfix"></div>
          <!--end title-->
        
        <div class="col-md-4 bottom-margin"> 
        <img src="http://placehold.it/600x350" alt="" class="img-responsive"/> 
        
        <h6>Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo.</h6>
          <p class="text-blue-gray">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commyolk augue. Aliquam ornare hendrerit augue. Cras tellus. In pulvinar lectus a est. Lorem ipsum </p>
          
        </div>
        <!--end item-->
        
        <div class="col-md-4 bottom-margin"> 
        <img src="http://placehold.it/600x350" alt="" class="img-responsive"/> 
        
        <h6>Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo.</h6>
          <p class="text-blue-gray">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commyolk augue. Aliquam ornare hendrerit augue. Cras tellus. In pulvinar lectus a est. Lorem ipsum </p>
          
        </div>
        <!--end item-->
        
        <div class="col-md-4 bottom-margin"> 
        <img src="http://placehold.it/600x350" alt="" class="img-responsive"/> 
        
        <h6>Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo.</h6>
          <p class="text-blue-gray">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commyolk augue. Aliquam ornare hendrerit augue. Cras tellus. In pulvinar lectus a est. Lorem ipsum </p>
          
        </div>
        <!--end item-->
      </div>
    </section>
    <div class="clearfix"></div>
    <!-- end section -->
    
    <section class="sec-padding section-blue-gray-dark">
      <div class="container">
        <div class="row">
          <div class="col-md-3 text-center bottom-margin">
            <div class="icon-plain-medium gray center"><span class="icon-globe text-color-primary"></span></div>
            <br/>
            <h4 class="text-white"> World's largest</h4>
            <p class="text-blue-gray">Lorem Ipsum is simply dummy text of 
              theprinting and typesetting it has the randomised wordswhich .</p>
          </div>
          <!--end item-->
          
          <div class="col-md-3 text-center bottom-margin">
            <div class="icon-plain-medium gray center"><span class="icon-layers text-color-primary"></span></div>
            <br/>
            <h4 class="text-white">45 Million Domains</h4>
            <p class="text-blue-gray">Lorem Ipsum is simply dummy text of 
              theprinting and typesetting it has the randomised wordswhich .</p>
          </div>
          <!--end item-->
          
          <div class="col-md-3 text-center bottom-margin">
            <div class="icon-plain-medium gray center"><span class="icon-profile-male text-color-primary"></span></div>
            <br/>
            <h4 class="text-white">10 Million Customers</h4>
            <p class="text-blue-gray">Lorem Ipsum is simply dummy text of 
              theprinting and typesetting it has the randomised wordswhich .</p>
          </div>
          <!--end item-->
          
          <div class="col-md-3 text-center bottom-margin">
            <div class="icon-plain-medium gray center"><span class="icon-chat text-color-primary"></span></div>
            <br/>
            <h4 class="text-white">24/7 Support</h4>
            <p class="text-blue-gray">Lorem Ipsum is simply dummy text of 
              theprinting and typesetting it has the randomised wordswhich .</p>
          </div>
          <!--end item--> 
          
        </div>
      </div>
    </section>
    <div class="clearfix"></div>
    <!-- end section -->
    
    <section class="sec-padding">
      <div class="container">

        <div class="col-md-6 bottom-margin"> 
        <img src="http://placehold.it/600x350" alt="" class="img-responsive"/> 
        </div>
        <!--end item-->
        
        <div class="col-md-6 bottom-margin"> 
        <h5 class="text-white">Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo.</h5>
          <p class="text-blue-gray">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commyolk augue. Aliquam ornare hendrerit augue.</p>
          <br/>
           <ul class="iconlist primary text-blue-gray">
                  <li><i class="fa fa-check"></i> Nunc in tellus ac erat sodales adipiscing</li>
                  <li><i class="fa fa-check"></i> Maecenas ultrices risus eu nisi. </li>
                  <li><i class="fa fa-check"></i> Integer vitae nibh vitae augue congue tristique. </li>
                </ul>
                <br/>
              <a class="btn btn-bgprimary" href="#">Read more</a>  
        </div>
        <!--end item-->
        
      </div>
    </section>
    <div class="clearfix"></div>
    <!-- end section -->
    
    
    <section class="sec-bpadding-3">
      <div class="container">

        <div class="col-md-6 bottom-margin"> 
        <img src="http://placehold.it/600x350" alt="" class="img-responsive"/> 
        </div>
        <!--end item-->
        
        <div class="col-md-6 bottom-margin"> 
        <h5 class="text-white">Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo.</h5>
          <p class="text-blue-gray">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commyolk augue. Aliquam ornare hendrerit augue.</p>
          <br/>
           <ul class="iconlist primary text-blue-gray">
                  <li><i class="fa fa-check"></i> Nunc in tellus ac erat sodales adipiscing</li>
                  <li><i class="fa fa-check"></i> Maecenas ultrices risus eu nisi. </li>
                  <li><i class="fa fa-check"></i> Integer vitae nibh vitae augue congue tristique. </li>
                </ul>
                <br/>
              <a class="btn btn-bgprimary" href="#">Read more</a>  
        </div>
        <!--end item-->
        
      </div>
    </section>
    <div class="clearfix"></div>
    <!-- end section -->
    
    <section>
      <div class="container">
        <div class="divider-line-dobble"></div>
        <div class="row sec-padding">
          <div class="col-xs-12 text-center">
            <h3 class="uppercase font-weight-5 less-mar-1 text-white">What People Says</h3>
            <div class="clearfix"></div>
            <br/>
            <br/>
          </div>
          <div class="clearfix"></div>
          <!--end title-->
          
          <div class="col-md-8 col-centered"> 
            
            <!-- template -->
            <div class="ms-staff-carousel ms-round noborder style-1 triggerAnimation animated "> 
              <!-- masterslider -->
              <div class="master-slider slide-2" id="masterslider2">
                <div class="ms-slide"> <img src="../masterslider/style/blank.gif" data-src="http://placehold.it/200x200" alt="lorem ipsum dolor sit"/>
                  <div class="ms-info">
                    <h4 class="font-weight-4 less-mar-2 text-white nopadding">John Doe</h4>
                    <h6 class="nopadding text-color-primary">Manager -  smartinc</h6>
                    <p class="text-blue-gray">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur </p>
                  </div>
                </div>
                <!--end slide-->
                
                <div class="ms-slide"> <img src="../masterslider/style/blank.gif" data-src="http://placehold.it/200x200" alt="lorem ipsum dolor sit"/>
                  <div class="ms-info">
                    <h4 class="font-weight-4 less-mar-2 text-white nopadding">Sophia</h4>
                    <h6 class="nopadding text-color-primary">Developer - smartinc</h6>
                    <p class="text-blue-gray">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue Aliquam ornare hendrerit augue </p>
                  </div>
                </div>
                <!--end slide-->
                
                <div class="ms-slide"> <img src="../masterslider/style/blank.gif" data-src="http://placehold.it/200x200" alt="lorem ipsum dolor sit"/>
                  <div class="ms-info">
                    <h4 class="font-weight-4 less-mar-2 nopadding text-white">Alexander</h4>
                    <h6 class="nopadding text-color-primary">Marketing - smartinc</h6>
                    <p class="text-blue-gray">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue Aliquam ornare hendrerit augue </p>
                  </div>
                </div>
                <!--end slide-->
                
                <div class="ms-slide"> <img src="../masterslider/style/blank.gif" data-src="http://placehold.it/200x200" alt="lorem ipsum dolor sit"/>
                  <div class="ms-info">
                    <h4 class="font-weight-4 less-mar-2 nopadding text-white">Madison</h4>
                    <h6 class="nopadding text-color-primary">Support - smartinc</h6>
                    <p class="text-blue-gray">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue Aliquam ornare hendrerit augue </p>
                  </div>
                </div>
                <!--end slide-->
                
                <div class="ms-slide"> <img src="../masterslider/style/blank.gif" data-src="http://placehold.it/200x200" alt="lorem ipsum dolor sit"/>
                  <div class="ms-info">
                    <h4 class="font-weight-4 less-mar-2 nopadding text-white">Benjamin</h4>
                    <h6 class="nopadding text-color-primary">Customer care - smartinc</h6>
                    <p class="text-blue-gray">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue Aliquam ornare hendrerit augue </p>
                  </div>
                </div>
                <!--end slide--> 
                
              </div>

              <!-- end of masterslider -->
              <div class="ms-staff-info" id="staff-info"> </div>
            </div>
            <!-- end of template --> 
            
          </div>
        </div>
      </div>
    </section>
    <div class="clearfix"></div>
    <!-- end section -->
    
    <section>
      <div class="container">
        <div class="divider-line-dobble"></div>
        <div class="row sec-less-padding">
          <div class="col-md-12">
            <ul class="clientlogo-list">
              <li><img src="http://placehold.it/170x80" alt=""/></li>
              <li><img src="http://placehold.it/170x80" alt=""/></li>
              <li><img src="http://placehold.it/170x80" alt=""/></li>
              <li><img src="http://placehold.it/170x80" alt=""/></li>
              <li><img src="http://placehold.it/170x80" alt=""/></li>
              <li><img src="http://placehold.it/170x80" alt=""/></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <div class="clearfix"></div>
    <!--end section -->
    
    <section class="section-primary sec-tpadding-1 sec-bpadding-1">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <h3 class="text-white">Over 4 million customers trust our services and servers</h3>
          </div>
          <div class="col-md-3">
            <div class="margin-top2"></div>
            <a class="btn btn-border white btn-large pull-right" href="#">Sign Up Now !</a> </div>
        </div>
      </div>
    </section>
    <div class="clearfix"></div>
    <!--end section-->
    
    <section class="section-blue-gray-dark sec-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12 bottom-margin">
            <h5 class="footer-title uppercase less-mar-3 font-weight-4">About</h5>
            <div class="clearfix"></div>
            <div class="footer-title-line align-left"></div>
            <div class="clearfix"></div>
            <ul class="usefull-links text-blue-gray no-border">
              <li><a href="#"><i class="fa fa-angle-right"></i> About Us</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> Hosting Plans</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> Our Awards</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> Our History</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> Our History</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> Privacy</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> Placerat bibendum</a></li>
            </ul>
          </div>
          <!--end item-->
          
          <div class="col-md-3 col-sm-6 col-xs-12 bottom-margin">
            <div class="item-holder">
              <h5 class="footer-title uppercase less-mar-3 font-weight-4">Latest Blog Posts</h5>
              <div class="clearfix"></div>
              <div class="footer-title-line align-left"></div>
              <div class="clearfix"></div>
              <div class="image-left"><img src="http://placehold.it/80x80" alt=""/></div>
              <div class="text-box-right">
                <h6 class="text-white less-mar3 nopadding font-weight-3 nopadding"><a href="#">Shared Hosting</a></h6>
                <p class="text-blue-gray">Lorem ipsum dolor sit</p>
                <div class="footer-post-info text-blue-gray opacity-4"> <span>By John Doe</span><span>May 15</span> </div>
              </div>
              <!--end item-->
              
              <div class="divider-line solid dark margin opacity-3"></div>
              <div class="clearfix"></div>
              <div class="image-left"><img src="http://placehold.it/80x80" alt=""/></div>
              <div class="text-box-right">
                <h6 class="text-white less-mar3 font-weight-3 nopadding"><a href="#">VPS Hosting</a></h6>
                <p class="text-blue-gray">Lorem ipsum dolor sit</p>
                <div class="footer-post-info text-blue-gray opacity-4"> <span>By John Doe</span><span>May 15</span> </div>
              </div>
            </div>
          </div>
          <!--end item-->
          
          <div class="col-md-3 col-sm-6 col-xs-12 bottom-margin">
            <h5 class="footer-title uppercase less-mar-3 font-weight-4">Usefull Links</h5>
            <div class="clearfix"></div>
            <div class="footer-title-line align-left"></div>
            <div class="clearfix"></div>
            <ul class="usefull-links text-blue-gray no-border">
              <li><a href="#"><i class="fa fa-angle-right"></i> Placerat bibendum</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> Ullamcorper odio nec turpis</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> Aliquam porttitor vestibulum ipsum</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> Lobortis enim nec nisi</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> Ullamcorper odio nec turpis</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> Placerat bibendum</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> Lobortis enim nec nisi</a></li>
            </ul>
          </div>
          <!--end item-->
          
          <div class="col-md-3 col-sm-6 col-xs-12 bottom-margin">
            <h5 class="footer-title uppercase less-mar-3 font-weight-4">Need Help</h5>
            <div class="clearfix"></div>
            <div class="footer-title-line align-left"></div>
            <div class="clearfix"></div>
            <ul class="usefull-links text-blue-gray no-border">
              <li><a href="#"><i class="fa fa-angle-right"></i> Contact Us</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> Tech Support</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> My Account</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> Legal</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> Privacy</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> My Account</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> Documentation</a></li>
            </ul>
          </div>
          <!--end item--> 
          
        </div>
      </div>
    </section>
    <div class="clearfix"></div>
    <!--end section-->
    
    <section class="sec-xless-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12 bmargin">
            <ul class="footer-payment-logo-list">
              <li>
                <h6 class="text-blue-gray">We Accept:</h6>
              </li>
              <li><img src="http://placehold.it/50x35" alt=""/></li>
              <li><img src="http://placehold.it/50x35" alt=""/></li>
              <li><img src="http://placehold.it/50x35" alt=""/></li>
              <li><img src="http://placehold.it/50x35" alt=""/></li>
              <li><img src="http://placehold.it/50x35" alt=""/></li>
            </ul>
          </div>
          <!--end item-->
          
          <div class="col-md-4 col-sm-12 col-xs-12 bmargin">
            <ul class="footer-payment-logo-list">
              <li>
                <h6 class="text-blue-gray">Awards:</h6>
              </li>
              <li><img src="http://placehold.it/60x45" alt=""/></li>
              <li><img src="http://placehold.it/60x45" alt=""/></li>
              <li><img src="http://placehold.it/60x45" alt=""/></li>
            </ul>
          </div>
          <!--end item-->
          
          <div class="col-md-2 col-sm-12 col-xs-12 bottom-margin"> <a class="btn btn-green" href="#"><i class="fa fa-comments"></i> Live Chat</a> </div>
          <!--end item--> 
        </div>
      </div>
    </section>
    <div class="clearfix"></div>
    <!-- end section -->
    
    <div class="divider-line-dobble"></div>
    <div class="clearfix"></div>
    <section class="sec-xxless-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-6 text-left"> <span class="text-blue-gray">Copyright © 2015 l yourdomain.com. All rights reserved.</span></div>
          <div class="col-md-6">
            <ul class="footer-social-icons pull-right">
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <div class="clearfix"></div>
    <!--end section-->
    
    <a href="#" class="scrollup"></a><!-- end scroll to top of the page--> 
    
  </div>
  <!--end site wrapper--> 
</div>
<!--end wrapper boxed--> 

<!-- Scripts --> 
<script src="js/jquery/jquery.min.js"></script> 
<script src="js/bootstrap/js/bootstrap.min.js"></script> 
<script src="js/less/less.min.js" data-env="development"></script> 
<script src="js/sticky/js/jquery.sticky.js"></script> 
<!-- Scripts END --> 

<!-- Template scripts -->
<script src="js/mainmenu/customeUI.js"></script> 
<script src="js/template-custom/js/template-custom.js"></script> 
<script src="js/owl-carousel/owl.carousel.js"></script> 
<script src="js/owl-carousel/custom.js"></script> 
<script src="js/tabs/js/responsive-tabs.min.js" type="text/javascript"></script> 
<script src="js/masterslider/masterslider.min.js"></script> 
<script type="text/javascript">  
     
    var slider = new MasterSlider();
    slider.setup('masterslider2' , {
        loop:true,
        width:100,
        height:100,
        speed:20,
        view:'fadeBasic',
        preload:0,
        space:0,
        space:35,
        viewOptions:{centerSpace:1.6}
    });
    slider.control('arrows');
    slider.control('slideinfo',{insertTo:'#staff-info'});
     
</script> 
<script src="js/functions/functions.js"></script>
</body>
</html>
